Repository hoanglk12/playwright-typescript: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui-tests, api-tests

.gitlab-ci.yml:

stages:
  - install
  - test
  - report

variables:
  NODE_VERSION: "20"
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "0"

# Cache node_modules to speed up builds
cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - node_modules/
    - ~/.cache/ms-playwright/

# Install dependencies
install:
  stage: install
  image: node:${NODE_VERSION}
  script:
    - npm ci
    - npx playwright install --with-deps
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 hour

# Run UI tests
ui-tests:
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
    - install
  script:
    - cp .env.example .env.testing
    - echo "NODE_ENV=testing" >> .env.testing
    - echo "CI=true" >> .env.testing
    - npm run test:simple
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    reports:
      junit: test-results/results.xml
    expire_in: 1 week
  only:
    changes:
      - "src/ui/**/*"
      - "tests/**/*"
      - "playwright.config.ts"
      - "package.json"
      - ".gitlab-ci.yml"

# Run API tests
api-tests:
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
    - install
  script:
    - cp .env.example .env.testing
    - echo "NODE_ENV=testing" >> .env.testing
    - echo "API_BASE_URL=https://restful-booker.herokuapp.com" >> .env.testing
    - echo "CI=true" >> .env.testing
    - npm run test:api:serial
  artifacts:
    when: always
    paths:
      - api-report/
      - api-results/
      - test-results/api/
    reports:
      junit: api-results/results.xml
    expire_in: 1 week
  only:
    changes:
      - "src/api/**/*"
      - "tests/api/**/*"
      - "api.config.ts"
      - "package.json"
      - ".gitlab-ci.yml"

# Deploy test reports to GitLab Pages
pages:
  stage: report
  image: alpine:latest
  dependencies:
    - ui-tests
    - api-tests
  script:
    - mkdir -p public/ui-report
    - mkdir -p public/api-report
    - cp -r playwright-report/* public/ui-report/ 2>/dev/null || true
    - cp -r api-report/* public/api-report/ 2>/dev/null || true
    - |
      cat > public/index.html << EOF
      <!DOCTYPE html>
      <html>
      <head>
          <title>Test Reports</title>
          <style>
              body { font-family: Arial, sans-serif; margin: 40px; }
              .report-links { display: flex; gap: 20px; }
              .report-card { 
                  border: 1px solid #ddd; 
                  border-radius: 8px; 
                  padding: 20px; 
                  text-decoration: none; 
                  color: #333;
                  transition: box-shadow 0.2s;
              }
              .report-card:hover { box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
              h1 { color: #333; }
              h2 { color: #666; margin-top: 0; }
          </style>
      </head>
      <body>
          <h1>Playwright Test Reports</h1>
          <div class="report-links">
              <a href="ui-report/" class="report-card">
                  <h2>üñ•Ô∏è UI Tests</h2>
                  <p>Browser-based end-to-end tests</p>
              </a>
              <a href="api-report/" class="report-card">
                  <h2>üîå API Tests</h2>
                  <p>RESTful API integration tests</p>
              </a>
          </div>
          <p><small>Generated on: $(date)</small></p>
      </body>
      </html>
      EOF
  artifacts:
    paths:
      - public
  only:
    - main
    - master
    - develop
  when: always

some changes
  GITHUB_PUSH_INSTRUCTIONS.md
Due: none

some changes
  .env.testing
  GITHUB_PUSH_INSTRUCTIONS.md
Due: none

some 2nd changes
  .env.development
  .github/workflows/api-tests.yml
  .gitignore
  api-report/index.html
  api-results/results.json
  src/data/bankguru-data.ts
Due: none

fix api-tests.yml
  .github/workflows/api-tests.yml
  api-report/index.html
  api-results/results.json
Due: none

fix pipeline
  .github/workflows/api-tests.yml
  .github/workflows/playwright.yml
  api-report/index.html
  api-results/results.json
  api.config.ts
  package.json
  tests/api/global-setup.ts
  tests/api/global-teardown.ts
  tests/api/restful-booker.spec.ts
  tsconfig.json
Due: ui-tests, api-tests

add install playwright browsers
  .github/workflows/playwright.yml
Due: none

update code on pipeline and some practice scripts
  .env.testing
  .github/workflows/playwright.yml
  API_TESTING.md
  CI_CD_INTEGRATION.md
  README.md
  api-report/index.html
  api-results/results.json
  playwright.config.ts
  run-api-tests-nonparallel.bat
  run-api-tests-nonparallel.sh
  run-ui-tests.bat
  run-ui-tests.sh
  src/config/environment.ts
  src/data/home-data.ts
  src/pages/admin/login-page.ts
  src/pages/base-page.ts
  src/pages/front site/home-page.ts
  tests/admin/login.spec.ts
  tests/frontsite/home-page.spec.ts
  tsconfig.json
Due: ui-tests

update code on pipeline and some practice scripts
  .github/workflows/playwright.yml
  API_TESTING.md
  CI_CD_INTEGRATION.md
  README.md
  api-report/index.html
  api-results/results.json
  playwright.config.ts
  run-api-tests-nonparallel.bat
  run-api-tests-nonparallel.sh
  run-ui-tests.bat
  run-ui-tests.sh
  src/config/environment.ts
  src/data/home-data.ts
  src/pages/admin/login-page.ts
  src/pages/base-page.ts
  src/pages/front site/home-page.ts
  tests/admin/login.spec.ts
  tests/frontsite/home-page.spec.ts
  tsconfig.json
Due: ui-tests

skip api test in playwright.config.ts
  playwright.config.ts
Due: ui-tests

wip implement logger
  src/config/global-setup.ts
  src/utils/test-logger.ts
Due: none

implement logging and test upload file
  src/config/base-test.ts
  src/config/environment.ts
  src/data/drag-and-drop-data.ts
  src/data/upload files/2. Purchase Orders.csv
  src/data/upload files/NhacLy.txt
  src/pages/admin/login-page.ts
  src/pages/base-page.ts
  src/pages/front site/form-drag-and-drop.ts
  src/pages/front site/page-generator.ts
  tests/admin/login.spec.ts
  tests/frontsite/form-drag-and-drop.spec.ts
Due: ui-tests

handle upload - drag and drop
  .env.testing
  debug-alert.png
  playwright.config.ts
  src/constants/timeouts.ts
  src/pages/base-page.ts
  src/pages/front site/form-drag-and-drop.ts
  tests/frontsite/form-drag-and-drop.spec.ts
Due: ui-tests

handle upload - drag and drop
  debug-alert.png
  playwright.config.ts
  src/constants/timeouts.ts
  src/pages/base-page.ts
  src/pages/front site/form-drag-and-drop.ts
  tests/frontsite/form-drag-and-drop.spec.ts
Due: ui-tests

add tabs & iframe handling
  src/pages/base-page.ts
  tests/frontsite/form-drag-and-drop.spec.ts
Due: ui-tests

Add log for tests
  api-report/index.html
  api-results/results.json
  api.config.ts
  package.json
  src/api/config/environment.ts
  src/config/environment.ts
  src/data/home-data.ts
  tests/frontsite/form-drag-and-drop.spec.ts
  tests/frontsite/home-page.spec.ts
Due: ui-tests, api-tests

Add log for tests
  .env.testing
  api-report/index.html
  api-results/results.json
  api.config.ts
  package.json
  src/api/config/environment.ts
  src/config/environment.ts
  src/data/home-data.ts
  tests/frontsite/form-drag-and-drop.spec.ts
  tests/frontsite/home-page.spec.ts
Due: ui-tests, api-tests

add isElementUndisplayed and getFormatDateWithDash
  src/constants/timeouts.ts
  src/pages/base-page.ts
  src/pages/front site/home-page.ts
  src/utils/helpers.ts
Due: none

Create new sample api test from https://restful-api.dev/ + new pipeline for api test
  .env.testing
  .github/workflows/api-restful-tests.yml
  .github/workflows/playwright.yml
  api-report/index.html
  api-results/results.json
  api.config.ts
  package.json
  src/api/ApiTest.ts
  src/api/RestfulApiClient.ts
  src/api/config/environment.ts
  src/api/services/restful-device/restful-api-models.ts
  src/data/api/restful-api-data.ts
  tests/api/objects-crud.spec.ts
Due: ui-tests, api-tests

Create new sample api test from https://restful-api.dev/ + new pipeline for api test
  .github/workflows/api-restful-tests.yml
  .github/workflows/playwright.yml
  api-report/index.html
  api-results/results.json
  api.config.ts
  package.json
  src/api/ApiTest.ts
  src/api/RestfulApiClient.ts
  src/api/config/environment.ts
  src/api/services/restful-device/restful-api-models.ts
  src/data/api/restful-api-data.ts
  tests/api/objects-crud.spec.ts
Due: ui-tests, api-tests

update .sh file for api test
  .github/workflows/api-restful-tests.yml
Due: none

Add more api tests for device-booker
  api-report/index.html
  api-results/results.json
  src/api/RestfulApiClient.ts
  src/data/api/restful-api-data.ts
  tests/api/objects-crud.spec.ts
Due: ui-tests, api-tests

Update API test pipeline and RestfulApiClient
  .github/workflows/api-restful-tests.yml
  api-report/index.html
  api-results/results.json
Due: none

adjust code in azure and gitlab pipeline
  .gitlab-ci.yml
  api-report/index.html
  api-results/results.json
  azure-pipelines.yml
  package.json
  src/data/drag-and-drop-data.ts
  src/pages/front site/form-drag-and-drop.ts
  tests/admin/login.spec.ts
  tests/frontsite/form-drag-and-drop.spec.ts
Due: ui-tests, api-tests

fix gitlab-ci.yml
  .gitlab-ci.yml
  README.md
  api-report/index.html
  api-results/results.json
Due: ui-tests, api-tests

add expire_in for gitlab-ci
  .gitlab-ci.yml
Due: ui-tests, api-tests

update gitlab-ci.yml to run on linux only
  .gitlab-ci.yml
Due: ui-tests, api-tests
